---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  {% include navbar.html %}
  <div class="wrapper{% if page.layout == 'home' %} home-wrapper{% endif %}{% if page.layout == 'post' %} post{% endif %}">
    {% if page.layout == 'home' %}{% include emblem.html %}{% endif %}
    <main aria-label="Content"{% if page.layout == 'page' %} class="page-content"{% endif %}>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  {% include back-to-top.html %}
</body>
</html>
