---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        if (prefersDark) {
          body.setAttribute("data-theme", "dark");
          localStorage.setItem("theme", "dark");
        } else {
          body.removeAttribute("data-theme");
          localStorage.setItem("theme", "light");
        }
      }
    };
 
    initTheme(localStorage.getItem("theme"));
    
    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper{% if page.layout == 'home' %} home-wrapper{% endif %}{% if page.layout == 'post' %} post{% endif %}">
    {% unless page.layout == 'post' %}{% include emblem.html %}{% endunless %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  {% include back-to-top.html %}
</body>
</html>
