---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="最近文章">最近文章</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
  {%- unless post.unlisted -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%Y/%-m/%-d" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
  {%- endunless -%}
{%- endfor -%}

<div class="archive-tags" style="margin-top: 1rem; display: flex; flex-wrap: wrap; gap: 8px;">
  <a class="tag-item" style="color: inherit; padding: 5px 8px; border-radius: 2px;" href="/archive/">全部</a>
  {%- for tag in site.tags -%}
  {% capture name %}{{ tag | first }}{% endcapture %}
  <a class="tag-item" style="color: inherit; padding: 5px 8px; border-radius: 2px;" href="/tags/#{{name}}">{{ name
    }}</a>
  {%- endfor -%}
</div>