---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}


    <h1>{{ page.title }}</h1>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <i>{{ page.date | date: "%b %d, %Y" }}</i>
        <span>
            original:
            {% for i in page.original %}
            <a href="{{ site.baseurl }}{{ site.picture }}/{{ page.slug }}/{{ i }}" target="_blank"
                style="margin-left: 5px;">[{{ forloop.index }}]</a>
            {% endfor %}
        </span>
    </div>

    <h4 class="subtitle">{{ page.subtitle }}</h4>

    {{ page.content }}



</main>

{% include footer.html %}

</body>

</html>