---
layout: default
---
<article itemscope itemtype="https://schema.org/BlogPosting">
  <div class="post-top">
    <header class="header">
      {% if page.tags and page.tags != empty %}
      <div class="tags" itemprop="keywords">
        {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
      <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
      {% if page.date %}
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%Y年%-m月%-d日" }}
        </time>
        <span class="post-meta-sep">&middot;</span>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ site.author.name }}</span>
        </span>
        {% if page.lastmod %}
        <time hidden datetime="{{ page.lastmod | date_to_xmlschema }}" itemprop="dateModified">{{ page.lastmod | date: "%Y年%-m月%-d日" }}</time>
        {% endif %}
        <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
        <span hidden itemprop="image">{{ page.image | absolute_url }}</span>
        <span hidden itemprop="mainEntityOfPage">{{ page.description | escape }}</span>
      </div>
      {% endif %}
    </header>

    {% if page.image and page.showImage %}
    <figure class="post-hero">
      <img src="{{ page.image | absolute_url }}" alt="{{ page.title | escape }}" itemprop="image" loading="lazy" />
    </figure>
    {% endif %}

    <div class="post-divider">
      <span class="post-divider-ornament">&#9670;</span>
    </div>

    <div class="toc-row">
      <div class="toc-col">
        {% include toc.html html=content %}
      </div>
    </div>

    <figure class="toc-watermark" aria-hidden="true">
      <img src="/assets/img/logo.png" alt="" />
    </figure>
  </div>

  <div class="post-body" itemprop="articleBody">
    {% include anchor_headings.html html=content anchorClass="anchor-head" anchorBody="#" beforeHeading=true h_min=1 h_max=4 %}
  </div>
</article>

{% if page.tweet %}
<p>Comments this article on
  <a href="https://twitter.com/{{ site.author.twitter }}/status/{{page.tweet}}">Twitter</a>.
</p>
{% endif %}

{% include content-footer.html %}

{% if page.next or page.previous %}
{% include navigation.html %}
{% endif %}

